<div class="hero">
  <div class="container">
    <h1>Sobre nosotros</h1>
    <div class="row justify-content-between">
      <div class="col-lg-12">
        <div class="">         
          <h4 class="mb-6">
            Somos una empresa panameña, nacida en el año 2022. Sabemos que, en muchos hogares panameños hace falta un buen técnico o albañil para realizar
            muchas tareas del hogar, y es por ello que nosotros SOLUW S.A venimos a suplir esa necesidad a través de especialistas certificados, idoneos y que se ajusten a 
            tus necesidades.
          </h4>
        </div>
      </div>
        <div class="col-lg-7">
        </div>
     </div>
  </div>
</div>

<div class="container-xlg">
  <div class="b-example-divider"></div>
  <div class="col-12">
    <div class="container col-xxl-8 px-1 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="images/soluwlogo.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class=" titulos display-5 fw-bold lh-1 mb-3">SOLUW</h1>
            <h1 class=" titulos display-5 fw-bold lh-1 mb-3"></h1>
            <p class="lead justificar">Obtenga servicios de instalaciones y mantenimiento de calidad para su hogar de parte de profesionales con experiencia en Panamá. En Soluw, creemos en el trato justo y abordaremos proyectos de cualquier tamaño con el mismo esfuerzo. Tome la decisión correcta contratando a un contratista en el que pueda confiar para cuidar su hogar. </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="container col-xxl-8 px-1 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class=" titulos display-5 fw-bold lh-1 mb-3">Misión</h1>
        <p class="lead justificar">Brindar un servicio digital que permita al cliente contactar con técnicos de calidad para realizar trabajos en sus hogares, con exigencias de confianza y trazabilidad, para garantizar un trabajo espectacular todo el tiempo.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
          <img src="images/handy2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="container col-xxl-8 px-1 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <img src="images/mantenimiento2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3 titulos">Visión</h1>
          <p class="lead justificar">Que nunca halla fallas sin reparar en un hogar. Ser una empresa líder a nivel nacional en la prestación de servicios de reparaciones, instalaciones y mantenimiento.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="container col-xxl-8 marketing pt-5">
  <h1 class="display-5 fw-bold lh-1 mb-3 pb-2 titulos">Valores</h1>
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-3">
      <img class="bd-placeholder-img rounded-circle d-block mx-lg-auto img-fluid" src="images/people.png" alt="Bootstrap Themes" width="250" height="250" loading="lazy">

      <h2 class="fw-normal centrear">Personas</h2>
      <p class="justificar">En pocas palabras, una empresa son sus personas. En Soluw, estamos dedicados a dar a los técnicos de la plataforma una gran cantidad de oportunidades para alcanzar su potencial total</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
      <img class="bd-placeholder-img rounded-circle d-block mx-lg-auto img-fluid" src="images/excelence.jpg" alt="Bootstrap Themes" width="250" height="250" loading="lazy">

      <h2 class="fw-normal centrear">Excelencia</h2>
      <p class="justificar">Todo lo que hacemos en Soluw es impulsado por una pasión inflexible por la excelencia y un compromiso inquebrantable para desarrollar un gran servicio para el mercado</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
      <img class="bd-placeholder-img rounded-circle d-block mx-lg-auto img-fluid" src="images/integrity.png" alt="Bootstrap Themes" width="250" height="250" loading="lazy">

      <h2 class="fw-normal centrear">Integridad</h2>
      <p class="justificar">Trabajar de manera ética es la base de nuestro negocio. Todo lo que hacemos está guiado por una brújula moral que garantiza la equidad, el respeto a todos los interesados y la transparencia total.</p>

    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3">
      <img class="bd-placeholder-img rounded-circle d-block mx-lg-auto img-fluid" src="images/transparency.png" alt="Bootstrap Themes" width="250" height="250" loading="lazy">

      <h2 class="fw-normal centrear">Transparencia</h2>
      <p class="justificar">Nuestro proceso de servicio busca brindar transparencia entre el cliente y el técnico, para que no haya posibilidad de estafa para ninguna de las dos partes.</p>

    </div><!-- /.col-lg-4 -->    
  </div><!-- /.row -->
  <!-- /.col-lg-4 -->
  </div>
  <div class="b-example-divider"></div>
  </div>
  </div>