<footer class="footer-section">
    <div class="container relative">

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">SOLUW<span>.</span></a></div>
                <p class="mb-4">Aquí encontrarás servicios con técnicos profesionales para solucionar todos los problemas en tu casa</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li class="<% if (pagina == 2) { %> active <% } %>">
                                <a href="/Servicios">Servicios</a>
                            </li>
                            <li class="<% if (pagina == 3) { %> active <% } %>">
                                <a href="/Tecnicos">Técnicos</a>
                            </li>
                            <li class="<% if (pagina == 4) { %> active <% } %>">
                                <a href="/Preguntas">Preguntas Frecuentes</a>
                            </li>    
                            <li class="<% if (pagina == 5) { %> active <% } %>">
                                <a href="/Contactenos">Sobre Nosotros</a>
                            </li> 
                            <li class="<% if (pagina == 8) { %> active <% } %>">
                                <a href="/politicas">Politicas</a>
                            </li> 
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3"></div>
                    <div class="col-6 col-sm-6 col-md-3"></div>
                </div>
            </div>
        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. Todos los derechos reservados. &mdash; SOLUW</a> <!-- License information: https://untree.co/license/ -->
    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    
                </div>

            </div>
        </div>

    </div>
</footer>