<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Preguntas Frecuentes</h1>
        </div>
      </div>
      <div class="col-lg-7">
        
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<div class="container-xlg">     
  <div class="row">
      <div class="col-2"> </div>

      <div class="col-8">
          <article class="my-3" id="accordion">
              <div class="bd-heading xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
                <h3 >Clientes</h3>
              </div>
        
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingOne">
                    <button class=" accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Pregunta #1 ¿Cuáles son los métodos de pago disponibles?
                    </button>
                  </h4>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#accordionExample">
                    <div style="background-color: #063b4d ;" class="accordion-body text-white">
                      <p>En primer lugar, puedes pagar con tarjeta de crédito o débito, dentro de nuestra Plataforma. Este es el método de pago recomendado. Es seguro, fácil y cómodo. Ofrece seguridad tanto al cliente como el profesional, y demuestra tu compromiso con la realización del proyecto. Tu dinero está seguro con nosotros y el trabajo está garantizado. 
                    </div>
                  </div>
                </div>
      
      
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Pregunta #2 ¿En qué áreas está disponible los servicios SOLUW?
                    </button>
                  </h4>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div style="background-color: #063b4d ;" class="accordion-body text-white">
                      <p>Por el momento, la plataforma está disponible en la ciudad de Panamá y alrededores.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Pregunta #3 No encuentro la respuesta a mi pregunta, ¿qué hago? 
                    </button>
                  </h4>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div style="background-color: #063b4d ;" class="accordion-body text-white">
                      <p>Contáctanos a través del formulario de nuestra web y te responderemos.
                    </div>
                  </div>
                </div>

              </div>

          </article>

          <article class="my-3" id="accordion">
            <div class="bd-heading xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
              <h3>Técnicos</h3>
            </div>
      
            <div class="accordion" id="accordionExample2">
              <div class="accordion-item">
                <h4 class="accordion-header" id="headingOne">
                  <button class=" accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                    Pregunta #1 ¿Cómo hago para ser parte de SOLUW?
                  </button>
                </h4>
                <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#accordionExample2">
                  <div style="background-color: #063b4d ;" class="accordion-body text-white">
                    <p>Regístrate y nosotros te explicamos los próximos pasos.
                  </div>
                </div>
              </div>
    
    
              <div class="accordion-item">
                <h4 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo">
                    Pregunta #2 ¿Los técnicos son empleados de SOLUW?
                  </button>
                </h4>
                <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                  <div style="background-color: #063b4d ;" class="accordion-body text-white">
                    <p>¡No! Cada Técnico es una empresa o trabajador independiente que ofrece sus servicios en la Plataforma.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h4 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree">
                    Pregunta #3 No encuentro la respuesta a mi pregunta, ¿qué hago?
                  </button>
                </h4>
                <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3" data-bs-parent="#accordionExample2">
                  <div style="background-color: #063b4d ;" class="accordion-body text-white">
                    <p>Contáctanos a través del formulario de nuestra web y te responderemos. ¿Aún tienes preguntas? Envíanos tus dudas.
                  </div>
                </div>
              </div>
            </div>

        </article>
      </div>         

  <div class="col-2"> </div>

</div> 
</div>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>