<div class="hero">
	<div class="container">
	   <div class="row justify-content-between">
		  <div class="col-lg-5">
			 <div class="intro-excerpt">
				<h1>Políticas de Privacidad</h1>
			 </div>
		  </div>
		  <h4 class="mb-6">Las siguientes condiciones regulan el uso del sitio web https://www.soluw.com, el cual le pertenece a <br> SOLUW, SA, empresa panameña, con domicilio en Avenida Universidad Tecnológica de Panamá, Vía Puente Centenario,
			Campus Metropolitano Víctor Levi Sasso.</h4>
		  <div class="col-lg-7">
		  </div>
	   </div>
	</div>
  </div>
  
  <div class="container-xlg">
	<div class="b-example-divider"></div>
	<div class="col-12">
	  <div class="container col-xxl-8 px-1 py-2">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
			  <img src="images/protecciondedatos.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
			  <h1 class=" titulos display-5 fw-bold lh-1 mb-3"></h1>
			  <h1 class=" titulos display-5 fw-bold lh-1 mb-3"></h1>
			  <p class="lead justificar">Al registrarse o hacer compras en nuestro portal los datos personales como nombre, dirección de correo electrónico, apartado postal se guardan únicamente para el envío de promociones o para la confirmación y envió de sus pedidos. Los números de tarjeta de crédito no se guardan nunca y son procesados en los servidores del banco. No enviamos los números de las tarjetas de crédito por email.</p>
			  <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
			</div>
		</div>
	  </div>
	</div>
	<div class="b-example-divider"></div>
	<div class="container col-xxl-8 px-1 py-2">
	  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-lg-6">
			<h1 class=" titulos display-5 fw-bold lh-1 mb-3"></h1>
			<p class="lead justificar">Cualquier contenido, precio del Sitio web puede ser modificado o eliminado a plena discreción de la empresa. El acceso a información del sitio web es bajo responsabilidad del usuario, no cabiendo reclamo alguno relativo a la calidad, exactitud e integridad del contenido, cualquiera sea la forma en que éste haya sido desplegado el mismo.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
		</div>
		<div class="col-10 col-sm-8 col-lg-6">
			<img src="images/precio.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		</div>
	  </div>
	</div>
	<div class="b-example-divider"></div>
	<div class="container col-xxl-8 px-1 py-2">
	  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<img src="images/datos-personales.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="500" loading="lazy">
		</div>
		<div class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3 titulos"></h1>
			<p class="lead justificar">Contratamos empresas de terceras personas para ayudarnos a brindar servicios o procesar sus transacciones. Por ejemplo, podemos mantener el hospedaje de nuestro sitio o bases de dato en las máquinas de otra empresa y/o utilizar sus servicios en hospedar secciones de nuestro Sitio, o podemos contratar a otra empresa para responder a las preguntas de nuestros clientes, para enviar información sobre nuestros productos u otros servicios o procesar pedidos. A fin de ellos poder realizar sus deberes estas empresas de terceras personas pueden tener acceso limitado a algunos de los datos suyos que mantenemos en nuestros archivos. Requerimos que todas las terceras personas guarden la confidencialidad de su información personal, limiten el acceso a esa información a lo mínimo necesario para poder realizar su labor, y que no usen la información para propósitos que no son los de su compromiso con nosotros.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
		</div>
	  </div>
	</div>
	<div class="b-example-divider"></div>
	<div class="container col-xxl-8 px-1 py-2">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3 titulos"></h1>
				<p class="lead justificar">No somos responsables por la información adicional que usted suministra a estas terceras personas y animamos a usted que se familiarice con sus propias políticas de privacidad antes de divulgar información a ellos. Los contenidos, páginas y pantallas del sitio, junto con el logo y la marcas son de propiedad de la de SOLUW, las mismas se encuentran debidamente registradas y protegidas por la Ley. En ningún caso se podrá hacer uso de alguno de ellos sin la autorización escrita de nosotros.</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
			</div>
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="images/confidencial.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
			</div>
		</div>
	</div> 
	<div class="b-example-divider"></div>
	<div class="container col-xxl-8 px-1 py-2">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		  <div class="col-10 col-sm-8 col-lg-6">
			  <img src="images/copyright.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="500" loading="lazy">
		  </div>
		  <div class="col-lg-6">
			  <h1 class="display-5 fw-bold lh-1 mb-3 titulos"></h1>
			  <p class="lead justificar">La información, imágenes y contenidos gráficos contenidos en este sitio no podrán ser copiadas, modificadas, reproducidas, total o parcialmente ni publicadas ni distribuidas con fines comerciales.
			</p>
			  <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
		  </div>
		</div>
	  </div>    
	</div><!-- /.row -->
	<!-- /.col-lg-4 -->
	</div>
	<div class="b-example-divider"></div>
	</div>
	</div>