<div class="container-sm">
	<div class="row justify-content-md-center">
		<p></p>
		<div class="cajaTitulo">
			<h1 class="titulos">Crear Cuenta</h1>
		</div>
	</div>
</div>
<br><br>
<!--Parte principal de Campos a Editar del Usuario-->

<div class="container-lg">
	<div class="row">
		<div class="col-2">
		</div>                

		<div class="col-8">

			<h3 class="titulos">INGRESA TUS DATOS </h3>

			<form action="/registrarse" method="POST">
				
				<div class="user-boxs">						
					<input type="text" name="nombre" id="nombre" size="25" required>
					<label for="nombre">Nombre</label>
				</div>

				<div class="user-boxs">
					<input type="text" name="apellido" id="apellido"size="25" required="">
					<label for="apellido">Apellido</label>
				</div>

				<div class="user-boxs">
					<input type="number" name="edad" id="edad" required="">
					<label for="edad">Edad</label>
				</div>

				<div class="user-boxs">
					<input type="text" name="direccion" id="direccion" size="30" required="">
					<label for="direccion">Dirección</label>
				</div>

				<div class="user-boxs">
					<input type="email" name="email" id="email" size="25" required="">
					<label for="email">Correo Electrónico</label>
				</div>
				<div class="user-boxs">
				<input name="rol" id="rol" type="hidden" value="2">
				</div>
				<div class="user-boxs">
					<input type="password" name="contra" id="contra" size="25" required="">
					<label for="contra">Contraseña</label>
				</div>
		
				<div class="user-box">
					<center><input type="submit" class="btn centrear" class="btn-save" value="Registrarse"></center>
				</div> 
			</form>
			
		<div class="col-2">                    
		</div>
		
	</div>
</div>

<div class="col-2">
</div>

<p></p>

<div class="row">

<div class="col-5">                
</div>

<div class="d-grid gap-3 col-2 mx-auto">

</div>

<div class="col-5">
</div>

</div>
</div>